<div class="container-fluid">
  <div class=" card" style="background-color: #1f2833">
    <div class="header">
      <h3 class="title" style="color: white; border-bottom: solid white ">LIST OF THE ORDERS</h3>
    </div>
    <div *ngFor="let order of orders">
      <div class="row">

        <div class="col-sm-5">
          <div class="card" style="margin-left:5%; padding-left:3%; padding-right:3%">
            <div class="card-header">
              <h4 style="padding-top:3%; color: #1f2833 ">ORDER ID: {{order._id}} </h4>
              <p class="card-text" style="border-bottom: solid #1f2833 ">name of the product: {{order.product}} </p>
              <p class="card-text" style="border-bottom: solid #1f2833 ">number of products: {{order.amount}} </p>
            </div>
            <p> Information about the client: </p>
            <ul class="list-group list-group-flush" style="padding:2%">
              <li class="list-group-item" style="background-color: #c3eff7">First name: {{order.first_name}} </li>
              <li class="list-group-item" style="background-color: #c3f7f0">Last name: {{order.last_name}} </li>
              <li class="list-group-item" style="background-color: #c3f7e6">Phone number: {{order.phone}} </li>
              <li class="list-group-item" style="background-color: #c3f7dc">Address: {{order.address}} {{order.zip_code}} {{order.city}} </li>
              <li class="list-group-item" style="background-color: #c3f7ce">Additional description: {{order.additional_info}} </li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>